.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.logo {
    position: absolute;
    margin-left: 173px;
    margin-top: 80px;
}

.main-info-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: auto;
    padding-left: 173px;
    background-image: url('../img/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #F4F4F4;
}

.main-info-content {

}

.main-info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.main-title {
    font-size: 72px;
    font-weight: bold;
}

.main-text {
    font-size: 24px;
}

.main-log-in-btn {
    margin-top: 50px;
    background-color: #F4F4F4;
    color: #BF4E0E;
}
.main-log-in-btn:hover {
    background-color: transparent;
    border-color: #F4F4F4;
    box-shadow: none;
    color: #F4F4F4;
}

.register-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-title {
    color: #404040;
    font-size: 64px;
    font-weight: bold;
}

.register-form {
    margin-top: 120px;
}

.register-button {
    margin-top: 90px;
    display: block;
    background-color: #BF4E0E;
}
.register-button:hover {
    background-color: transparent;
    border-color: #BF4E0E;
    box-shadow: none;
    color: #BF4E0E;
}