::selection {
	background-color: #726253;
	color: #F4F4F4;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #F4F4F4;
	font-family: Roboto, sans-serif;
}

h1, h2, p {
	margin: 0;
	padding: 0;
}

.glowing-button {
	padding: 18px 56px;
	border: 2px solid transparent;
	border-radius: 8px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
	color: #F4F4F4;
	font-size: 32px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s ease;
}

.auth-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.auth-field {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	align-items: center;
	padding-bottom: 30px;
}

.auth-icon {
	width: 35px;
	height: 35px;
}

.auth-input {
	padding: 20px 30px;
	border: 2px solid transparent;
	border-radius: 8px;
	background-color: rgba(228, 192, 63, 0.2);
	color: #E48E3F;
	font-size: 28px;
	transition: all 0.1s ease;
}
.auth-input:focus {
	border-color: #E48E3F;
	border-radius: 8px;
	box-shadow: 0 0 16px rgba(228, 142, 63, 0.2);
	outline: none;
}
.auth-input:hover {
	border-color: #E48E3F;
	border-radius: 8px;
	box-shadow: 0 0 16px rgba(228, 142, 63, 0.2);
}
.auth-input::placeholder {
	color: #A5A5A5;
}

