.login-modal {}

.modal-window.open .modal-overlay,
.modal-window.open .auth-modal-window {
    opacity: 1;
    z-index: 1000;
}

.modal-overlay, .auth-modal-window {
    opacity: 0;
    z-index: -1;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.auth-modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 470px;
    background-color: #F4F4F4;
    border-radius: 8px;
    padding: 0 56px 40px 56px;
    text-align: center;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}

.close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.login-title {
    color: #404040;
    font-size: 48px;
    font-weight: bold;
    padding-top: 40px;
}

.login-form {
    margin-top: 52px;
}

.login-button {
    margin-top: 22px;
    display: block;
    background-color: #F0CC0D;
    color: #404040;
    width: 100%;
}
.login-button:hover {
    background-color: transparent;
    border-color: #F0CC0D;
    box-shadow: none;
    color: #F0CC0D;
}